.selector{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 5px; 
    text-align: left;
    font-family: monospace
}   

.search-button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: rgb(71, 76, 85);
}

.form-search{
    margin-left:"20%"; 
    margin-top:"2%";
    padding: "20px";
    display: "inline-flex";
    width: "60%"
}


@media only screen and (max-width: 600px) {
    .search-button{
        width: 120px;
        height: 50px;
        border-radius: 10px;
        color: white;
        background-color: rgb(89, 131, 209);
    }
}