a:focus, a:hover, a:visited, a:link, a:active {
    color: white !important;
    font-size: 25px !important;
    text-decoration: none !important;
}

.logo{
    min-width: 65px;
    max-height: 60px;
}

.bg-dark{
    background-color: rgb(64, 64, 64) !important;
}